*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(rgb(36, 36, 36), black);
}
.maincontainer{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.menufield{
    width: 300px;
    background-color: rgb(20, 20, 20);
    height: 100vh;
    position: fixed;
}
.navbars{
    height: 85px;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.998);
    margin-left: 300px;
    opacity: 10;
    position: fixed;
    
}
.mainlogo{
    margin-top: 15px;
    height: 50px;   
    margin-top: 25px;
    margin-left: 10%;
    z-index: 2;

}
a,li.policypoints{
    color: white;
    text-decoration: none;
    list-style: none;
    margin-left: -10px;
    }
.menu-icons, .heart{
    height: 30px;
    filter: invert();
    margin-top: 15px;
    padding-right: 30px;
}
.heart{
    filter: none;
}
#emptyline{
    height: 30px;
}
.policypoints a, .policypoints li{
    color: grey;
    line-height: 2.5;
    margin-left: 4px;
}
.terms{
    display: grid;
    grid-template-columns: auto auto;
    font-size: small;
    margin-top: -20px;
}
.language-btn{
    display: flex;
    justify-content: start;
    padding-left: 40px;
}
#lng-btn{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.379);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
.cookies:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
#lng-btn:hover{
    transform: scale(105%);
    border: 1px solid white;
    cursor: pointer;
}
.menu-icons-2{
    height: 20px;
    filter: invert();
    margin-top: 3px;
    margin-left: -10px;
    padding-right: 10px;    
}
.arrow-selector{
    width: fit-content;
    height: fit-content;
    padding-top: 20px;
}
.arrowbtn{
    width: 35px;
    margin-left: 20px;
    border-radius: 50%;
    filter: invert(110%);
    border: transparent;
}
.option-field{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    color: rgb(167, 163, 163);
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    margin-top: -14px;
    align-content: center;
    margin-right: -150px;
}
.user_options{
    letter-spacing: 2.5px;
    font-size: 18px;
    font-weight: bold;
}
.straightline{
    height: 30px;
    width: 2px;
    background-color: white;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
}
.login{
    border-radius: 50px;
    width: 140px;
    height: 60px; 
    margin-top: -19px;
    font-weight: 600;
    letter-spacing: 0;
    margin-left: 20px;
}
.user_options:hover{
    transform: scale(105%);
    cursor: pointer;
    font-weight: bolder;
    color: white;
}
.login:hover{
    color:black
}
.signup{
    letter-spacing: 0;
}
.arrowbtn:hover{
    cursor: not-allowed;
}
.content1,.content2{
    width: calc(100%-300px);
    height: fit-content;
    margin-bottom: -80px;
} 
.content2{
    background-color: black;
}
.selectables, .selectables3{
    display: flex;
    width: 100%;
    padding-top : 100px;
    height: 100px;
    justify-content: space-between;
    color: white;
}   
.selectables1,.selectables3,.selectables5{
    font-weight: bold;
    margin-left: 350px;
    font-size: 27px;
    margin-top: 10px;
}
.selectables2{
    margin-right: 30px;
    margin-top: 20px;
    letter-spacing: 1.5px;
    font-size: 15px;
}
.selectables3,.selectables5{
    height: 100px;
    padding-top: 0;
    margin-top: 100px;
    margin-left: 0px;
}
.selectables1:hover, .selectables2:hover{
    text-decoration: underline;
}
.song_collections, .song_collections2{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-left: 370px;
    margin-right: 10px;
    justify-content: space-evenly;
    margin-top: 60px;
    color: white;
    width: 70%;
    column-gap: 120px;

}
.play-btn{
    position: absolute;
    width: 70px;
    margin-top: -210px;
    margin-left: 180px;
    visibility: hidden;
}
.song_collections2{
    margin-top: -20px;
}

.song-n-description{
    height: auto;
    width: fit-content;
    padding: 20px;
    
}
.img-in-grid{
    border-radius: 7px;
    width: 250px;
}
.song-n-description:hover{
    background-color: rgba(249, 248, 246, 0.119);
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.song-n-description:hover .play-btn{
    visibility: visible;
}
.para-in-grid{
    max-width: 250px;
    line-height: 2;
    color: rgb(178, 174, 169);
    font-weight: bold;
}
.sleep:hover{
    cursor: ;
}
