*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.maincontainer{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}
.menufield{
    width: 300px;
    background-color: black;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbars{
    height: 85px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;   
    position: fixed;
    top: 0;
    margin-left: 280px;
    z-index: 1;
    
}
.content-body1{
    width: calc(100%-300px);
    position: relative;
    height: 100%;
    margin-left: 00px;
    
}
.mainlogo{
    margin-top: 15px;
    height: 50px;   
    margin-top: 25px;
    margin-left: 10%;
    z-index: 2;
}
a,li.policypoints{
    color: white;
    text-decoration: none;
    list-style: none;
    margin-left: -10px;
    }
.menu-icons, .heart{
    height: 30px;
    filter: invert();
    margin-top: 15px;
    padding-right: 30px;
}
.heart{
    filter: none;
}
#emptyline{
    height: 30px;
}
.policypoints a, .policypoints li{
    color: grey;
    line-height: 2.5;
    margin-left: 4px;
}
.terms{
    display: grid;
    grid-template-columns: auto auto;
    font-size: small;
    margin-top: -20px;
}
.language-btn{
    display: flex;
    justify-content: start;
    padding-left: 40px;
}
#lng-btn{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.379);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
.cookies:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
#lng-btn:hover{
    transform: scale(105%);
    border: 1px solid white;
    cursor: pointer;
}
.menu-icons-2{
    height: 20px;
    filter: invert();
    margin-top: 3px;
    margin-left: -10px;
    padding-right: 10px;    
}
.arrow-selector{
    width: fit-content;
    height: fit-content;
}
.arrowbtn{
    width: 35px;
    margin-left: 20px;
    border-radius: 50%;
    filter: invert(110%);
    border: transparent;
}
.searcharea{
    border-radius: 50px;
    height: 50px;
    width: 100%;
    padding-left:60px;
}
::placeholder{
    letter-spacing: 0.75px;
    font-size: 0.875rem;
    font-weight: 500;
    
}
.searcharea:focus{ 
    font-size: 17px;
}
.search-container{
    width: 400px;
    height: 50px;
    margin-left: 30px;
    position: relative;
}
.search_icon{
    width: 30px;
    position: absolute;
    margin-left: -380px;
    margin-top: 13px;
}
.browseall{
    width: 1000px;
    height: 100px;
    margin-top: 85px;
    margin-left: 300px;
    padding-top: 20px;
    color: white;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 600;
    position: relative;
}
.categories{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    margin-left: 300px;
    justify-content: center;
    column-gap: 30px;
    width: calc(100%-300px);
    position:relative;
}
.cat-card{
    height: 270px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: blue;
    padding-left: 25px;
    position: relative;
    overflow: hidden;
}
.cat-card:hover{
    cursor: pointer;
}
.catname{
    color: white;
    font-size: 28px;
    position: absolute;
    text-shadow: 0 0 2px black;
}
.caticon{
    width: 130px;
    margin-left: 140px;
    margin-top: 140px;
    transform: rotate(25deg);
    box-shadow: 0 0 1px 0px black;
}
/* .cat-card:hover .caticon{
    transform: rotate(0deg);
    transition-duration: 1.5s;
    margin-left: 50px;
    margin-top: 75px;
} */

.option-field{
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    color: rgb(167, 163, 163);
    justify-content: end;
    column-gap: 20px;
    list-style: none;
    margin-right: -50px;
    align-content: flex-start;
    margin-top: 20px;
    
}
.user_options{
    letter-spacing: 2.5px;
    font-size: 18px;
    font-weight: bold;
}
.straightline{
    height: 25px;
    width: 1px;
    background-color: white;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
}
.login{
    border-radius: 50px;
    width: 140px;
    height: 60px; 
    margin-top: -19px;
    font-weight: 600;
    letter-spacing: 0;
    margin-left: 20px;
}
.user_options:hover{
    transform: scale(105%);
    cursor: pointer;
    font-weight: bolder;
    color: white;
}
.login:hover{
    color:black
}
.signup{
    letter-spacing: 0;
}
.arrowbtn:hover{
    cursor: pointer;
}
.arrow-selector{
    width:fit-content;
    display: inline-flex;
    justify-content: center;
}

.infosection{
    width: 1280px;
    height: 300px;
    margin-top: 80px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    column-gap: 50px;
    padding-top: 80px;
}
.infocolumns,.infocolumns1{
    width: 250px;
    color: rgb(248, 244, 244);
    background-color:transparent;
}   
.infolists a, .infolists{
    color: rgba(248, 244, 244, 0.728);
    margin-top: -10px;
    list-style: none;
    font-size: 18px;
    line-height: 2.4;
    margin-left: -15px;
    letter-spacing: 1px;
    font-weight: lighter;
}
.infohead{
    margin-left: 10px;
}
.infocolumns1{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: flex-start;
    column-gap: 20px;
}
.socialmedia{
    width: 18px;
    filter: invert();
}
.socialdiv{
    padding-left: 10px;
    padding-top: 2px;;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgba(71, 69, 69, 0.514);
    border-radius: 50px;
}
.socialdiv:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.295);
}
.footer-seperator{
    width: 1170px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.135);
    margin-left: 330px;
    margin-top: 100px;
}
.footer1{
    width: 100%;
    height: 100px;
    margin-top: -50px;
}
h4{
    margin-left: 350px;
    color: rgba(255, 255, 255, 0.559);
    margin-top: 100px;
    letter-spacing: 1px;
}
